.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0px;

    .btn {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        width: 14%;
        font-family: 'Share Tech Mono', monospace;
        background-color: #285068;
        color: #c8a848;
        border: none;
        border-radius: 20px;
        transition: transform 0.2s ease-in-out;

        @mixin icon($svg-icon) {
            display: flex;
            width: 50px;
            height: 50px;
            background-image: url($svg-icon);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border: none;
            border-radius: 20px;
            cursor: pointer;
        }

        .icon.strategy {
            @include icon('/assets/images/menu_icons/strategy_icon.svg');
        }
        .icon.template {
            @include icon('/assets/images/menu_icons/template_icon.svg');
        }
        .icon.decorate {
            @include icon('/assets/images/menu_icons/decorate_icon.svg');
        }

        &:hover {
            transform: scale(1.15);
            box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
        }
    }
    
}